.App {
  font-family: sans-serif;
  text-align: center;
}

.colorPicker {
  border: 1px solid black;
  height: 80px;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
}
.colorBlock {
  width: 20px;
  height: 20px;
}
.squares {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 20px;
}
.square {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}
